mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.column-align {
  display: flex;
  flex-direction:column;
  min-width: 300px;
}

.loading-spinner {
  background: #131313;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  stroke: #000000;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: white;
}
