<mat-card>
  <mat-card-header>
    <mat-toolbar color="primary">Partner Details</mat-toolbar>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" class="min-width">
      <mat-form-field class="full-width" color="accent">
        <mat-label>Name </mat-label>
        <input matInput formControlName="name" minlength="2" maxlength="100" #name />
        <mat-hint align="end">{{name.value.length || 0}}/100</mat-hint>
        <mat-error *ngIf="form.get('name')?.invalid">{{onFieldError('name')}}</mat-error>
      </mat-form-field>

      <mat-form-field class="cbb-width" color="accent">
        <mat-label>Birth Date </mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthDate" #birthDate maxlength="10" readonly />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-hint align="end">{{birthDate.value.length || 0}}/10</mat-hint>
        <mat-error *ngIf="form.get('birthDate')?.invalid">{{onFieldError('birthDate')}}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" color="accent">
        <mat-label>Sex</mat-label>
        <mat-select formControlName="sex" required>
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
          <mat-option value="Undefined">Undefined</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width" color="accent">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status" required>
          <mat-option value="Active">Active</mat-option>
          <mat-option value="Inactive">Inactive</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="cbb-width" color="accent">
        <mat-label>Partner</mat-label>
        <mat-select formControlName="partner" required>
          <mat-option *ngFor="let partner of partners" [value]="partner">
            {{ partner.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <mat-form-field class="full-width" color="accent">
        <mat-label>Gênero</mat-label>
        <mat-select formControlName="genre">
          <mat-option value="Ação">Ação</mat-option>
          <mat-option value="Terror">Terror</mat-option>
        </mat-select>
      </mat-form-field> -->
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-fab color="warn" (click)="onCancel()">
      <mat-icon>clear</mat-icon>
    </button>
    <button mat-fab (click)="onSubmit()" id="saveButton">
      <mat-icon>save</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>