<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary"> Classes </mat-toolbar>

    <div class="column-align mat-elevation-z8">
      <app-classes-display *ngIf="classes$ | async as classes; else loading" [classes]="classes" (add)="onAdd()"
        (edit)="onEdit($event)" (delete)="onDelete($event)"></app-classes-display>

      <ng-template #loading>
        <div color="accent" diameter="20" class="loading-spinner">
          <mat-spinner></mat-spinner>
        </div>
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>