<!DOCTYPE html>

<html lang="pt-BR">

<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu" style="text-align: end;"><mat-icon>menu</mat-icon></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onActors()"><mat-icon>people</mat-icon>Actors</button>
    <button mat-menu-item (click)="onDirectors()"><mat-icon>engineering</mat-icon>Directors</button>
    <button mat-menu-item (click)="onClasses()"><mat-icon>sell</mat-icon>Classes</button>
    <button mat-menu-item (click)="onMovies()"><mat-icon>movie</mat-icon>Movies</button>
    <button mat-menu-item (click)="onItems()"><mat-icon>album</mat-icon>Items</button>
  </mat-menu>
  <span>[C,C] Rental Films</span>
</mat-toolbar>
<router-outlet></router-outlet>

</html>