#addActor{
  color: white;
}

mat-table {
  overflow: auto;
  max-height: 475px;
}

mat-header-cell {
  padding: 10px;
  font-size: large;
}

.action-space {
  justify-content: center;
  flex: 0 0 150px;
}
