<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
</mat-form-field>

<mat-table [dataSource]="dataSource" matSort>
  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let movie">{{ movie.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="year">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Year</mat-header-cell>
    <mat-cell *matCellDef="let movie">{{ movie.year }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="synopsis">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Synopsis</mat-header-cell>
    <mat-cell *matCellDef="let movie">{{ movie.synopsis }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="category">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
    <mat-cell *matCellDef="let movie">{{ movie.category }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="director">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Director</mat-header-cell>
    <mat-cell *matCellDef="let movie">{{ movie.director.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="c">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Class</mat-header-cell>
    <mat-cell *matCellDef="let movie">{{ movie.c.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="cast">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Cast</mat-header-cell>
    <mat-cell *matCellDef="let movie">
      <span *ngFor="let actor of movie.cast; let last = last;">
        <span>{{ actor.name }}</span>
        <span *ngIf="!last">,&nbsp;</span>
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="action-space">
      <button mat-mini-fab aria-label="Add Movie" id="addMovie" (click)="onAdd()">
        <mat-icon>movie</mat-icon>
      </button>
    </mat-header-cell>
    <mat-cell *matCellDef="let movie" class="action-space">
      <button mat-icon-button aria-label="Edit Movie" (click)="onEdit(movie)">
        <mat-icon>movie_edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" onclick="this.blur()" aria-label="Remove Movie" (click)="onDelete(movie)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>