<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary"> Items </mat-toolbar>

    <div class="column-align mat-elevation-z8">
      <app-items-display
        *ngIf="items$ | async as items; else loading"
        [items]="items"
        (add)="onAdd()"
        (edit)="onEdit($event)"
        (delete)="onDelete($event)"
    ></app-items-display>

      <ng-template #loading>
        <div color="accent" diameter="20" class="loading-spinner">
          <mat-spinner></mat-spinner>
        </div>
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>
