<mat-table [dataSource]="directors">
  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let director">{{ director.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="action-space">
      <button mat-mini-fab aria-label="Add Director" id="addDirector" (click)="onAdd()">
        <mat-icon>person_add_alt</mat-icon>
      </button>
    </mat-header-cell>
    <mat-cell *matCellDef="let director" class="action-space">
      <button mat-icon-button aria-label="Edit Director" (click)="onEdit(director)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" onclick="this.blur()" aria-label="Remove Director"
        (click)="onDelete(director)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>